* {
    margin: 0;
    padding: 0;
}

/*CSS variables*/

:root {
    --main-font: Arial, Helvetica, sans-serif;
    --nav-color: #f3f3f3;
    --link-color: #606C5A;
    --description-color: #f6f6f6;
}

/*Global font*/

body {
    font-family: var(--main-font);
}

.logo {
    margin-right: auto;
}

/*Navigation Bar Customisation*/

nav {
    border: 1px solid #e7e7e7;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding: 10px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

/*Removes bullet points*/

nav ul {
    display: flex;
    list-style: none;
}

/*Links Customisation*/

a {
    color: var(--link-color);
    text-decoration: none;
    padding: 8px;
}

li a:hover {
    background-color: #d0d0d0;
}

/*Titles Customisation*/


h2 {
    padding: 2rem;
    line-height: 26px;
    text-align: center;
}

h3 {
    padding: 0 0 10px 45px;
}


/* Home Custom */

.homeContainer {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    background-image: url(images/bonsai-co.jpg);
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

/*Sections Customisation*/

.sec-1 p {
    padding: 0.6cm;
    margin: 0.7cm;
    inline-size: 70%;
    font-size: medium;
}

.first {
    background: var(--description-color);
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}


div.wilders {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}


/* Team JS hover */

.description p {
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.description:hover p {
    opacity: 1
}
  


/* Entretien Customs */

#entretien {
    padding: 3rem;
}


.spring,
.summer,
.fall,
.winter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: auto;
    padding: 5rem;
}

.spring {
    background: var(--description-color);
}

.summer {
    flex-direction: row-reverse;
}

.fall {
    background: var(--description-color);
}

.winter {
    flex-direction: row-reverse;
}

/* Image Entretien Custom*/

.entretienImg {
    height: 50vh;
}



.sec-4 {
    background: #e7ebe4;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}


.sec-5 {
    background: #eee;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

/*Img team*/

.teamImg {
    width: 100px;
    clip-path: ellipse(50% 50%);
    margin: auto;
}

.wildersProfil {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

/*Contact custom*/

input[type=email] {
    width: 20%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    background-color: #606C5A;
    color: white;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}


/*Contact js error msg*/
#error-msg {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}



/*Footer Customisation*/

footer {
    background: #eee;
    text-align: center;
    padding: 20px;
}

.socialImg {
    width: 25px;
}

footer p {
    padding: 20px;
}

/* Css for carrousel */

.sec-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: var(--description-color);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    padding: 7rem;
}

#carrousel {
    width: 312.5px;
    height: 400px;
    border: solid 4px #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

#carrouselContainer {
    width: 312.5px;
    height: 400px;
}

.picture {
    width: 312.5px;
    height: 400px;
    display: inline-block;
    background-size: cover;
}

.btn {
    margin: auto;
    width: 100px;
    cursor: pointer;
}

#btnLeft {
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#btnRight {
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#btnLeft:hover {
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}

#btnRight:hover {
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}

/* End of carrousel */


/*Back To Top*/

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    display: none;
    opacity: 0%;
}

@media screen and (max-width : 768px) {

    .spring,
    .summer,
    .fall,
    .winter {
        flex-direction: column;
        background-size: cover;
        background-position: center;
    }

    .entretienText {
        opacity: 1.5;
    }

    h3 {
        padding: 0;
        text-align: center;
    }

    div.wilders {
        flex-direction: column;
    }

    .spring {
        background-image: linear-gradient(to bottom, transparent, 5%, rgba(255, 255, 255, 0.8)), url(images/bonsai-printemps.jpg);
    }

    .summer {
        background-image: linear-gradient(to bottom, transparent, 5%, rgba(255, 255, 255, 0.8)), url(images/bonsai-ete.jpeg);
    }

    .fall {
        background-image: linear-gradient(to bottom, transparent, 5%, rgba(255, 255, 255, 0.8)), url(images/bonsai-automne.jpg);
    }

    .winter {
        background-image: linear-gradient(to bottom, transparent, 5%, rgba(255, 255, 255, 0.8)), url(images/bonsai-hiver.jpg);
    }

    .entretienImg {
        display: none;
    }

    .sec-3 {
        padding: 2rem;
    }

    #carrousel {
        width: 312.5px;
        height: 400px;
    }

    #carrouselContainer {
        width: 312.5px;
        height: 400px;
    }

    .picture {
        width: 312.5px;
        height: 400px;
    }

    .btn {
        width: 50px;
    }
}

@media screen and (min-device-width : 768px) and (max-width : 1224px) {

    #carrousel {
        width: 468.75px;
        height: 600px;
    }

    #carrouselContainer {
        width: 468.75px;
        height: 600px;
    }

    .picture {
        width: 468.75px;
        height: 600px;
    }

    .btn {
        width: 75px;
    }
}